In [17]:
#Este analisis verifica si la cercanía a hospitales y centros de salud privados afecta el precio.

import pandas as pd
import numpy as np
#import shapely
import matplotlib.pyplot as plt
%matplotlib inline
%config IPCompleter.greedy=True

In [21]:
#Datos de establecimientos de salud

#Hospitales. Datos extraídos de: https://data.buenosaires.gob.ar/dataset/areas-hospitalarias
publicos = pd.read_csv('hospitalesPublicos.csv', sep = ";",low_memory = False) 

#Centros de salud privados. Datos extraídos de: https://data.buenosaires.gob.ar/dataset/centros-de-salud-privados
privados = pd.read_csv('hospitalesPrivados.csv', sep = ";",low_memory = False)

,NOMBRE,DIRECCION,CALLE,ALTURA,PISO,TELEFONOS,OBSERV,BARRIO,COMUNA,CODIGO_POSTAL,CODIGO_POSTAL_ARGENTINO,LAT,LNG
7,CLINICA CIUDAD DE LA VIDA,BELGRANO AV. 2530,BELGRANO AV.,2530,NaN,4308-2678,NOVIEMBRE 2012:OK,BALVANERA,COMUNA 3,1096,C1096AAP,"-34,61468681","-58,40182937"
57,CLINICA GERIATRICA GUAYAQUIL,GUAYAQUIL 143,GUAYAQUIL,143,NaN,4902-1557,NOVIEMBRE 2012:SIN PAGINA EN INTERNET PARA CHE...,CABALLITO,COMUNA 6,1424,C1424CAC,"-34,61950423","-58,43052542"
31,INSTITUTO DUPUYTREN DE TRAUMATOLOGIA Y ORTOPEDIA,BELGRANO AV. 3402,BELGRANO AV.,3402,NaN,4860 7500,NOVIEMBRE 2012:OK,ALMAGRO,COMUNA 5,1210,C1210AAP,"-34,61572125","-58,41450494"
8,CLINICA JURI,CERVIÑO AV. 3251,CERVIÑO AV.,3251,NaN,4802-6464,NOVIEMBRE 2012:OK,PALERMO,COMUNA 14,1425,C1425AGB,"-34,58116159","-58,40566632"
11,CLINICA SAN CAMILO,"GALLARDO, ANGEL AV. 861","GALLARDO, ANGEL AV.",861,NaN,4858 8100,NOVIEMBRE 2012:OK,VILLA CRESPO,COMUNA 15,1405,C1405DJI,"-34,60625119","-58,4425179"

In [29]:
#Cargo los datos que ya tenemos procesados

#Datos procesados
data = pd.read_csv('dataFiltrada/datosCapital.csv',low_memory = False)


#Tomo los datos que me interesan: estado, barrio, superficie, precio por m2, latitud y longitud)
filteredData = data[['barrio','price','lat', 'lon']]

#Elimino NAs
filteredData.dropna(inplace=True)

/home/santiago/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [23]:
#Nos quedamos con los campos que consideramos utiles para vincular con las propiedades
privado2 = privados[['NOMBRE','LAT','LNG']]
#Cambio las comas en latitud y longitud por puntos para poder usarlos como float
privado2['lat'] = privado2['LAT'].str.replace(',','.').astype(float)
privado2['lon'] = privado2['LNG'].str.replace(',','.').astype(float)

privados = privado2[['NOMBRE','lat','lon']]
privado.sample(5)

/home/santiago/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/santiago/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                                     NOMBRE        lat        lon
14                               EXCELSITAS -34.569124 -58.449685
34                     SANATORIO COLEGIALES -34.576999 -58.450901
16   FUNDALEU FUND. ARG. CONTRA LA LEUCEMIA -34.591553 -58.397208
44              CENTRO MEDICO DR. CALABRESE -34.604244 -58.428390
19  HOSPITAL DE CLINICAS JOSE DE SAN MARTIN -34.599313 -58.400599

In [31]:
#Busco, para cada propiedad, el centro de salud más cercano

#Agrego una columna donde irá la distancia minima al centro de salud más cercano
precio_segun_distancia = filteredData.copy()

In [32]:
#Defino una funcion que calcula la distancia entre dos puntos
import math
def dist(lat1,lon1,lat2,lon2):
    dLat = math.radians(lat2-lat1)
    dLon = math.radians(lon2-lon1)

    lat1 = math.radians(lat1)
    lat2 = math.radians(lat2)

    a = math.sin(dLat/2) * math.sin(dLat/2) + math.sin(dLon/2) * math.sin(dLon/2) * math.cos(lat1) * math.cos(lat2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    return c * 6371 * 1000

SyntaxError: unexpected EOF while parsing (<ipython-input-32-cfae07e03c6e>, line 11)

,coordenadas,distrito,nombre_escuela,lon,lat
18,"-62.76344792178401,-37.17682809444085",Adolfo Alsina,"JARDIN DE INFANTES Nº901 ""OLGA VIGNAU""",-62.76344792178401,-37.17682809444085
19,"-63.24724558731384,-37.16314534118442",Adolfo Alsina,JARDIN DE INFANTES Nº902,-63.24724558731384,-37.16314534118442
20,",-37.44672610592488",Adolfo Alsina,"JARDIN DE INFANTES Nº903 ""MARIA MONTESSORI""",,-37.44672610592488
21,"-63.34162596376706,",Adolfo Alsina,"JARDIN DE INFANTES Nº904 ""GABRIELA MISTRAL""",-63.34162596376706,
22,"-62.72566233225069,-37.17044240159538",Adolfo Alsina,"JARDIN DE INFANTES Nº905 ""VILLA EPECUEN""",-62.72566233225069,-37.17044240159538
23,"-63.25676909841502,-37.45432120256129",Adolfo Alsina,JARDIN DE INFANTES Nº906,-63.25676909841502,-37.45432120256129
24,",-36.87300069642487",Adolfo Alsina,"JARDIN DE INFANTES Nº908 ""AMERICO COPPINI""",,-36.87300069642487
25,"-62.76252490799794,-37.18045648747676",Adolfo Alsina,"JARDIN DE INFANTES Nº909 ""CUMELEN""",-62.76252490799794,-37.18045648747676
36,",-37.18363491372014",Adolfo Alsina,ESCUELA DE EDUCACIÓN SECUNDARIA Nº2,,-37.18363491372014
37,"-63.11460401666187,-37.44670507437951",Adolfo Alsina,ESCUELA DE EDUCACIÓN SECUNDARIA Nº3,-63.11460401666187,-37.44670507437951

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7536 entries, 18 to 22287
Data columns (total 4 columns):
lon               7536 non-null float64
lat               7536 non-null float64
distrito          7536 non-null object
nombre_escuela    7536 non-null object
dtypes: float64(2), object(2)
memory usage: 294.4+ KB

,lon,lat,distrito,nombre_escuela
18,-62.763448,-37.176828,Adolfo Alsina,"JARDIN DE INFANTES Nº901 ""OLGA VIGNAU"""
19,-63.247246,-37.163145,Adolfo Alsina,JARDIN DE INFANTES Nº902
22,-62.725662,-37.170442,Adolfo Alsina,"JARDIN DE INFANTES Nº905 ""VILLA EPECUEN"""
23,-63.256769,-37.454321,Adolfo Alsina,JARDIN DE INFANTES Nº906
25,-62.762525,-37.180456,Adolfo Alsina,"JARDIN DE INFANTES Nº909 ""CUMELEN"""
37,-63.114604,-37.446705,Adolfo Alsina,ESCUELA DE EDUCACIÓN SECUNDARIA Nº3
44,-62.762111,-37.180183,Adolfo Alsina,"ESCUELA DE EDUCACIÓN PRIMARIA Nº1 ""JOSE DE SAN..."
45,-62.753242,-37.180533,Adolfo Alsina,"ESCUELA DE EDUCACIÓN PRIMARIA Nº3 ""JUAN BAUTIS..."
46,-63.266903,-37.046765,Adolfo Alsina,"ESCUELA DE EDUCACIÓN PRIMARIA Nº4 ""ANTARTIDA A..."
47,-63.291628,-36.924717,Adolfo Alsina,"ESCUELA DE EDUCACIÓN PRIMARIA Nº5 ""MARIANO MOR..."

La Matanza            933
La Plata              566
General Pueyrredón    523
Lomas de Zamora       490
Quilmes               401
Name: properties.distrito, dtype: int64